__pycache__/
mnist_data/
logs/
/05/fashion-masks.zip
/05/fashion-masks-train.npz.png
/05/fashion-masks-dev.npz.png
/05/fashion-masks-test.npz
/05/fashion-masks-train.npz
/05/fashion-masks-dev.npz
/05/fashion_masks_recodex_submission.py
/11/timit-mfcc26.pickle
/08/czech-cac.zip
